@{
    ViewData["Title"] = "گزارش گیری";
}
@using PersianDate
@using PersianDate.Standard
@model List<Web_App.Tables.User>
<div class="table-panel ">
    <div class="table-responsive">
        <table class="table custom-table align-middle mb-0" id="table">
            <thead>
            <tr>
                <th class="text-center">نام</th>
                <th class="text-center">کد کارت</th>
                <th class="text-center">تاریخ ورود</th>
                <th class="text-center">تاریخ خروج</th>
                <th class="text-center">وضعیت</th>
                <button onclick="exportExcel()"> Excel</button>

            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="نام" class="text-center">@item.Username</td>
                    <td data-label="کد کارت" class="text-center">@item.CardId</td>
                    <td data-label="تاریخ ورود" class="text-center">@((item.OpenTime == null) ? "--" : item.OpenTime.ToFa() + " - " + item.OpenTime.ToFa("t"))</td>
                    <td data-label="تاریخ خروج" class="text-center">@((item.ExitTime == null) ? "--" : item.ExitTime.ToFa() + " - " + item.ExitTime.ToFa("t"))</td>
                    @if (item.Status == 1)
                    {
                        <td data-label="وضعیت" class="text-center text-success">
                            ورود
                        </td>
                    }
                    else if (item.Status == 2)
                    {
                        <td data-label="وضعیت" class="text-center text-danger">
                           خروج
                        </td>
                    }
                    else
                    {
                        <td data-label="وضعیت" class="text-center text-dark">
                            --
                        </td>
                    }
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>

<script>
function exportExcel() {
    let table = document.getElementById("table");
    let wb = XLSX.utils.table_to_book(table, {
        sheet: "گزارش حضور و غیاب"
    });

    XLSX.writeFile(wb, "report.xlsx", {
        bookType: "xlsx",
        compression: true
    });
}
</script>


