@{
    ViewData["Title"] = "افزودن کاربر";
}
@model Web_App.Model.AddModel

<div class="form-panel mt-4">

    <h5 class="fw-semibold mb-4 text-center">
     افزودن کاربر
    </h5>

    <!-- Notification -->
    <div class="card-hint mb-4">
           لطفاً کارت را نزدیک دستگاه کنید و صفحه را رفرش کنید
    </div>

    <form asp-controller="Home" asp-action="Add" method="post">

        <div class="row g-4">

            <div class="col-md-6">
                <label asp-for="UserName" class="form-label">
                    نام کاربری
                </label>
                <input asp-for="UserName" class="form-control custom-input" placeholder="نام کاربری" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="CardId" class="form-label">
                    کد کارت
                </label>
                <input asp-for="CardId"
                       class="form-control custom-input"
                       readonly
                       placeholder="@ViewData["CardId"]" value="@ViewData["CardId"]"/>
                <span asp-validation-for="CardId" class="text-danger"></span>
            </div>
            
        </div>

        <div class="mt-4 d-flex justify-content-end">
            <button type="submit"
                    class="btn btn-primary rounded-pill px-4">
                ثبت
            </button>
        </div>

    </form>
</div>


